<section class="section">
  <div class="container">
    <h5 class="title">Update User</h5>
    <form [formGroup]="editUser" (ngSubmit)="updateUser()">

      <div class="field">
        <div class="control">
          <label class="label">Full Name</label>
          <input class="input is-primary" type="text" placeholder="Full Name" formControlName="fullname"
            [(ngModel)]="userData.fullname">
          <div class="notification is-danger" *ngIf="submitted && form.fullname.errors" style="margin-top: 10px;">
            <p *ngIf="form.fullname.errors.required">Enter Full Name</p>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Birthday</label>
          <input class="input is-primary" type="date" placeholder="Birthday" formControlName="dob"
            [(ngModel)]="userData.dob">
          <div class="notification is-danger" *ngIf="submitted && form.dob.errors" style="margin-top: 10px;">
            <p *ngIf="form.dob.errors.required">Enter Birthday</p>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Address</label>
          <input class="input is-primary" type="text" placeholder="Address" formControlName="address"
            [(ngModel)]="userData.address">
          <div class="notification is-danger" *ngIf="submitted && form.address.errors" style="margin-top: 10px;">
            <p *ngIf="form.address.errors.required">Enter Address</p>
          </div>
        </div>
      </div>

      <div class="field">
          <div class="control">
            <label class="label">Phone Number</label>
            <input class="input is-primary" type="text" placeholder="Phone Number" formControlName="phone_no"
              [(ngModel)]="userData.phone_no">
            <div class="notification is-danger" *ngIf="submitted && form.phone_no.errors" style="margin-top: 10px;">
              <p *ngIf="form.phone_no.errors.required">Enter Phone Number</p>
            </div>
          </div>
        </div>

        <div class="control">
          <label class="label">Sex</label>
          <div class="select is-primary" style="width: 100%;">
            <select formControlName="sex" [(ngModel)]="userData.sex" style="width: 100%;">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="notification is-danger" *ngIf="submitted && form.sex.errors" style="margin-top: 10px;">
            <button class="delete"></button>
            <p *ngIf="form.sex.errors.required">Choose Gender</p>
          </div>
        </div>

        <div class="field">
            <div class="control">
              <label class="label">Email</label>
              <input class="input is-primary" type="email" placeholder="Email" formControlName="email"
                [(ngModel)]="userData.email">
              <div class="notification is-danger" *ngIf="submitted && form.email.errors" style="margin-top: 10px;">
                <p *ngIf="form.email.errors.required">Enter Email Addresss</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Password</label>
              <input class="input is-primary" type="password" placeholder="Password" formControlName="password"
                [(ngModel)]="userData.email">
              <div class="notification is-danger" *ngIf="submitted && form.password.errors" style="margin-top: 10px;">
                <p *ngIf="form.password.errors.required">Enter Email Addresss</p>
              </div>
            </div>
          </div>

      <button class="button is-primary" style="margin-top: 10px;">Save</button>

    </form>
  </div>
</section>