<section class="section">
  <div class="container">
    <h5 class="title">Users</h5>
    <div class="field">
      <label class="label">Search</label>
      <p class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="filter" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <table class="table is-striped">
      <thead>
        <tr>
          <td>Full Name</td>
          <td>Birthday</td>
          <td>Sex</td>
          <td>Phone Number</td>
          <td>Address</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users.data | filter:filter; let i=index;">
          <td> {{ u.fullname }}</td>
          <td> {{ u.dob }}</td>
          <td> {{ u.sex }}</td>
          <td> {{ u.phone_no }}</td>
          <td> {{ u.address }}</td>
          <td>
            <button class="button is-link is-small fa fa-file" routerLink="/edituser/{{u._id}}"></button>
            <button class="button is-danger is-small fa fa-trash" (click)="delete(u._id)"></button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</section>