<section class="section">
  <div class="container">
    <h5 class="title">Sales</h5>

    <div style="float: right; margin-bottom: 10px;">
      <button class="button is-link" (click)="downloadPDF()">Print</button>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="filter" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <table class="table is-striped" id="salesData">
      <thead>
        <tr>
          <td>Customer Name</td>
          <td>Product Name</td>
          <td>Quantity</td>
          <td>Discount</td>
          <td>Price</td>
          <td>Payment Type</td>
          <td>Bill Number</td>
          <td>Sold By</td>
          <td>Date Ordered</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of orders.data | filter:filter; let i=index;">
          <!-- {{o}} -->
          <td> {{ o.customer_name }}</td>
          <td> {{ o.product.name }}</td>
          <td> {{ o.quantity }}</td>
          <td> {{ o.discount }}</td>
          <td id="price"> {{ o.price }}</td>
          <td> {{ o.payment_type }}</td>
          <td> {{ o.bill_no }}</td>
          <td> {{ o.user.fullname }}</td>
          <td> {{ o.date }}</td>
          <td>
            <!-- <button class="button is-link is-small fa fa-edit" routerLink="/editorder/{{o._id}}"></button> -->
            <button class="button is-danger is-small fa fa-trash" (click)="delete(o._id)"></button>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot> -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</section>