<!-- <section class="section">

  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h6 class="title" style="text-align: center">Welcome To Pharmacy Sales Inventory</h6>
      <p style="text-align: center">Enter your login details</p>
      <div style="text-align: center">
        <div class="field">
          <div class="control">
            <label class="label">Username</label>
            <input class="input is-primary" type="email" placeholder="Username" formControlName="email">
            <div class="notification is-danger" *ngIf="submitted && form.email.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.email.errors.required">Enter Username</p>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Password</label>
            <input class="input is-primary" type="password" placeholder="Password" formControlName="password">
            <div class="notification is-danger" *ngIf="submitted && form.password.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.password.errors.required">Enter Password</p>
            </div>
          </div>
        </div>

        <button class="button is-primary">Login</button>
        <div *ngIf="invalidLogin" class="error">
          <div>Invalid credentials.</div>
        </div>

      </div>
    </form>
  </div>
</section> -->

<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" style="display: none;">Sign
      Up</label>
    <div class="login-form">

      <div class="sign-in-htm">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input" formControlName="email" [(ngModel)]="loginDetails.email">
            <div class="notification is-danger" *ngIf="submitted && form.email.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.email.errors.required">Enter Username</p>
            </div>
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password" formControlName="password" [(ngModel)]="loginDetails.password">
            <div class="notification is-danger" *ngIf="submitted && form.password.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.password.errors.required">Enter Password</p>
            </div>
          </div>
          <div class="group">
            <button class="button" style="padding: 0 !important;">Sign in</button>
            <div *ngIf="invalidLogin">
              <app-alerts>Invalid credentials provided</app-alerts>
            </div>
          </div>
          <div class="hr"></div>
        </form>
      </div>


      <div class="sign-up-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Repeat Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Email Address</label>
          <input id="pass" type="text" class="input">
        </div>
        <div class="group">
          <button class="button" style="padding: 0 !important">Sign Up</button>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</label>
        </div>
      </div>
    </div>
  </div>
</div>