<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.loggedIn">
        <a class="navbar-link">
          Product
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="addproduct" routerLinkActive="active">
            Add Product
          </a>
          <a class="navbar-item" routerLink="products" routerLinkActive="active">
            Products
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.loggedIn">
        <a class="navbar-link">
          Sales
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="addorder" routerLinkActive="active">
            Add Sales
          </a>
          <a class="navbar-item" routerLink="orders" routerLinkActive="active">
            View Sales
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.loggedIn">
        <a class="navbar-link">
          Supplier
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="addsupplier" routerLinkActive="active">
            Add Supplier
          </a>
          <a class="navbar-item" routerLink="suppliers" routerLinkActive="active">
            Suppliers
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.loggedIn">
        <a class="navbar-link">
          User
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="adduser" routerLinkActive="active">
            Add User
          </a>
          <a class="navbar-item" routerLink="users" routerLinkActive="active">
            Users
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" *ngIf="!auth.loggedIn" routerLink="login">
            Log in
          </a>
          <a class="button is-danger" (click)="logout()" *ngIf="auth.loggedIn">
            Log out
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>

<!-- <section class="section" *ngIf="auth.loggedIn">
  <div class="container">
    <h5 class="title">You are welcome {{ userData }}</h5>
  </div>
</section> -->

<router-outlet></router-outlet>