<section class="section">
  <div class="container">
    <h5 class="title">Suppliers</h5>
    <div class="field">
      <label class="label">Search</label>
      <p class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="filter" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <table class="table is-striped">
      <thead>
        <tr>
          <td>Company Name</td>
          <td>Contact</td>
          <td>Address</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of suppliers.data | filter:filter; let i=index;">
          <td> {{ s.company_name }}</td>
          <td> {{ s.contact }}</td>
          <td> {{ s.address }}</td>
          <td>
            <button class="button is-link is-small fa fa-file" routerLink="/editsupplier/{{s._id}}"></button>
            <button class="button is-danger is-small fa fa-trash" (click)="delete(s._id)"></button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</section>