<section class="section">
  <div class="container">
    <h5 class="title">Update Product</h5>
    <form [formGroup]="editProduct" (ngSubmit)="updateProduct()">
      <div class="columns">

        <div class="column">
          <div class="field">
            <div class="control">
              <label class="label">Product Name</label>
              <input class="input is-primary" type="text" placeholder="Name" formControlName="name"
                [(ngModel)]="productData.name">
              <div class="notification is-danger" *ngIf="submitted && form.name.errors" style="margin-top: 10px;">
                <button class="delete" (click)="hideBtn = true"></button>
                <p *ngIf="form.name.errors.required">Enter Product Name</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Brand Name</label>
              <input class="input is-primary" type="text" placeholder="Brand Name" formControlName="brand_name"
                [(ngModel)]="productData.brand_name">
              <div class="notification is-danger" *ngIf="submitted && form.brand_name.errors" style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.brand_name.errors.required">Enter Brand Name</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Weight</label>
              <input class="input is-primary" type="text" placeholder="Weight" formControlName="weight"
                [(ngModel)]="productData.weight">
              <div class="notification is-danger" *ngIf="submitted && form.weight.errors" style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.weight.errors.required">Enter Weight Size</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">NAFDAC No</label>
              <input class="input is-primary" type="text" placeholder="NAFDAC No" formControlName="nafdacno"
                [(ngModel)]="productData.nafdacno">
              <div class="notification is-danger" *ngIf="submitted && form.nafdacno.errors" style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.nafdacno.errors.required">Enter Nafdac Number</p>
              </div>
            </div>
          </div>

          <div class="control">
            <label class="label">Product Category</label>
            <div class="select is-primary" style="width: 100%">
              <select formControlName="category" [(ngModel)]="productData.category" style="width: 100%">
                <option value="Syrup">Syrup</option>
                <option value="Tablet">Tablet</option>
              </select>
            </div>
            <div class="notification is-danger" *ngIf="submitted && form.category.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.category.errors.required">Choose Product Category</p>
            </div>
          </div>

        </div>

        <div class="column">
          <div class="field">
            <div class="control">
              <label class="label">Unit Price</label>
              <input class="input is-primary" type="number" min="1" placeholder="Unit Price" formControlName="unit_price"
                [(ngModel)]="productData.unit_price">
              <div class="notification is-danger" *ngIf="submitted && form.unit_price.errors" style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.unit_price.errors.required">Enter Product Price</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Discount</label>
              <input class="input is-primary" type="number" min="1" placeholder="Discount" formControlName="discount"
                [(ngModel)]="productData.discount">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Quantity</label>
              <input class="input is-primary" type="number" min="20" placeholder="Quantity" formControlName="quantity"
                [(ngModel)]="productData.quantity">
              <div class="notification is-danger" *ngIf="submitted && form.quantity.errors" style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.quantity.errors.required">Enter number available in stock</p>
              </div>
            </div>
          </div>

          <div class="control">
            <label class="label">Supplier</label>
            <div class="select is-primary" style="width: 100%">
              <select formControlName="supplier_id" [(ngModel)]="productData.supplier_id" style="width: 100%">
                <option value="{{s._id}}" *ngFor="let s of suppliers.data; let i=index;">{{ s.company_name }}</option>
              </select>
            </div>
            <div class="notification is-danger" *ngIf="submitted && form.supplier_id.errors" style="margin-top: 10px;">
              <button class="delete"></button>
              <p *ngIf="form.supplier_id.errors.required">Choose Supplier</p>
            </div>
          </div>

          <div class="field" style="margin-top: 10px">
            <div class="control">
              <textarea class="textarea is-primary" placeholder="Product Description" formControlName="description"
                [(ngModel)]="productData.description"></textarea>
              <div class="notification is-danger" *ngIf="submitted && form.description.errors"
                style="margin-top: 10px;">
                <button class="delete"></button>
                <p *ngIf="form.description.errors.required">Enter Product Description</p>
              </div>
            </div>
          </div>

          <button class="button is-primary" style="margin-top: 10px;">Update</button>

        </div>

      </div>
    </form>
  </div>
</section>