<section class="section">
  <div class="container">
    <h5 class="title">Products</h5>

    <div class="field">
      <label class="label">Search</label>
      <p class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="filter" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <table class="table is-striped">
      <thead>
        <tr>
          <td>Product Name</td>
          <td>Category</td>
          <td>Brand Name</td>
          <td>Unit Price</td>
          <td>Discount</td>
          <td>Weight</td>
          <td>In stock</td>
          <td>NAFDAC No</td>
          <td>Description</td>
          <td>Supplier</td>
          <td>Date Added</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products.data | filter:filter; let i=index;">
          <td> {{ p.name }}</td>
          <td> {{ p.category }}</td>
          <td> {{ p.brand_name }}</td>
          <td> {{ p.unit_price }}</td>
          <td> {{ p.discount }}</td>
          <td> {{ p.weight }}</td>
          <td> {{ p.quantity }}</td>
          <td> {{ p.nafdacno }}</td>
          <td> {{ p.description }}</td>
          <td> {{ p.supplier.company_name }}</td>
          <td> {{ p.date }}</td>
          <td>
            <button class="fa fa-edit button is-link is-small" routerLink="/editproduct/{{p._id}}"></button>
            <button class="fa fa-trash button is-danger is-small"></button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</section>