<section class="section">
  <div class="container">
    <h5 class="title">Add Sales</h5>
    <div class="form" style="text-align: center;">
      <form [formGroup]="addOrder" (ngSubmit)="saveOrder()">

        <div class="field">
          <div class="control">
            <label class="label">Customer Name</label>
            <input class="input is-primary" type="text" placeholder="Customer Name" formControlName="customer_name"
              [(ngModel)]="orderData.customer_name">
            <div class="notification is-danger" *ngIf="submitted && form.customer_name.errors"
              style="margin-top: 10px;">
              <p *ngIf="form.customer_name.errors.required">Enter Customer Name</p>
            </div>
          </div>
        </div>

        <div class="control">
          <label class="label">Product</label>
          <div class="select is-primary" style="width: 100%">
            <select style="width: 100%" formControlName="product_id" [(ngModel)]="orderData.product_id"
              (change)="fetchProductDetails()">
              <option value="{{p._id}}" *ngFor="let p of products.data; let i=index;">{{ p.name }}</option>
            </select>
          </div>
          <div class="notification is-danger" *ngIf="submitted && form.product_id.errors" style="margin-top: 10px;">
            <p *ngIf="form.product_id.errors.required">Select Product</p>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Price</label>
            <input class="input is-primary" type="number" disabled [(ngModel)]="orderData.price"
              formControlName="price">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Quantity</label>
            <input class="input is-primary" type="number" min="1" placeholder="Quantity" formControlName="quantity"
              [(ngModel)]="orderData.quantity" (keyup)="onKey()">
            <div class="notification is-danger" *ngIf="submitted && form.quantity.errors" style="margin-top: 10px;">
              <p *ngIf="form.quantity.errors.required">Enter Quantity</p>
            </div>
          </div>
        </div>

        <button class="button is-primary" style="margin-top: 10px;">Add</button>

      </form>
    </div>
  </div>
</section>