<section class="section">
  <div class="container">
    <h5 class="title">Add Supplier</h5>
    <form [formGroup]="addSupplier" (ngSubmit)="saveSupplier()">

      <div class="field">
        <div class="control">
          <label class="label">Company Name</label>
          <input class="input is-primary" type="text" placeholder="Company Name" formControlName="company_name"
            [(ngModel)]="supplierData.company_name">
          <div class="notification is-danger" *ngIf="submitted && form.company_name.errors" style="margin-top: 10px;">
            <button class="delete"></button>
            <p *ngIf="form.company_name.errors.required">Enter Company Name</p>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Contact</label>
          <input class="input is-primary" type="text" placeholder="Contact" formControlName="contact"
            [(ngModel)]="supplierData.contact">
          <div class="notification is-danger" *ngIf="submitted && form.contact.errors" style="margin-top: 10px;">
            <button class="delete"></button>
            <p *ngIf="form.contact.errors.required">Enter Contact</p>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Address</label>
          <input class="input is-primary" type="text" placeholder="Address" formControlName="address"
            [(ngModel)]="supplierData.address">
          <div class="notification is-danger" *ngIf="submitted && form.address.errors" style="margin-top: 10px;">
            <button class="delete"></button>
            <p *ngIf="form.address.errors.required">Enter Address</p>
          </div>
        </div>
      </div>

      <button class="button is-primary" style="margin-top: 10px;">Save</button>

    </form>
  </div>
</section>